[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
apscheduler = "*"
google-search-results = "*"
wikipedia-api = "*"
google-cloud-storage = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
